# macOS system files
.DS_Store
._*

# Python-related files
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment
venv/
.env

# Ignore database files
*.sqlite
*.db

# Ignore cache and temp files
*.bak
*.swp
*.swo
*.tmp

# Ignore compiled code
*.class
*.o
*.out

# Ignore IDE/project settings
.idea/
.vscode/
